<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
 </system.webServer>
 <appSettings>
  <add key="Page Version" value="$LastChangedRevision: 28361 $" />
  <add key="ThisAppName" value="GTM" />
  <add key="sqlGetGMI_STATUS_LOV" value="select distinct valid_value from ctl_rules_validation_single where source_column='STATUS' order by valid_value" />
  <add key="sqlGetGMI_ENV_LOV" value="select distinct valid_value from ctl_rules_validation_single where source_column='ENVIRONMENT' and valid_value not like '%(%)%' order by valid_value" />
  <add key="sqlGetGMI_FEED_LOV" value="select filter_value from (select distinct ctl_process_filter.filter_value, ctl_process_flow.feed_priority from ctl_process_filter inner join ctl_process_flow on ctl_process_filter.feed_table=ctl_process_flow.feed_table order by ctl_process_flow.feed_priority ASC)" />
  <add key="GMI_TRANS_select" value="SELECT 
                                        gtrans.gmi_initiating_process as feed,
                                        gtrans.hostname,
                                        gtrans.gmi_location,
                                        gtrans.gmi_mgmt_region,
                                        gtrans.gmi_environment,
                                        gtrans.gmi_status,
                                        gtrans.gmi_infrastructure as INF,
                                        gtrans.gmi_capability as CAP,
                                        gtrans.gmi_system_group as LSG,
                                        gtrans.gmi_client_name,
                                        gtrans.gmi_dev_log_map,
                                        gtrans.last_updated as ORIGIN_DATE,
                                        gtrans.SRC_RECORD_ID,
                                        gtrans.SC_LOGICAL_NAME,
                                        CTLR.LAST_PROCESS_TIME as LAST_TRANSFORM,
                                        tb.blocking /*SELECT_MODIFIER*/ " 
   />
  <add key="GMI_TRANS_from"     value=" FROM gmi_trans gtrans, ctl_log_process_records ctlr, ctl_process_filter pf, gmi_trans_block tb /*FROM_MODIFIER*/ " />
  <add key="GMI_TRANS_joinview" value=" , (select max(ct.src_record_id) as recid, GT.GMI_INITIATING_PROCESS, GT.HOSTNAME, gt.process_id /*INNER_SELECT_MODIFIER*/ from ctl_log_process_records ct, gmi_trans gt /*INNER_FROM_MODIFIER*/ where ct.src_record_id = GT.SRC_RECORD_ID and ct.process_id = gt.process_id  /*INNER_WHERE_MODIFIER*/ group by  GT.GMI_INITIATING_PROCESS, GT.HOSTNAME, gt.process_id /*INNER_GROUPBY_MODIFIER*/) var1  " />
  <add key="GMI_TRANS_where"    value=" where var1.recid = gtrans.src_record_id and var1.recid = ctlr.src_record_id and var1.process_id = ctlr.process_id and ctlr.process_id = gtrans.process_id and gtrans.process_id = pf.process_id and gtrans.hostname = tb.hostname (+) and gtrans.gmi_initiating_process = tb.gmi_initiating_process (+) /*WHERE_MODIFIER*/ " />
  <add key="GMI_TRANS_orderby"  value=" order by gtrans.hostname, gtrans.gmi_initiating_process " />
  <add key="GMI_REF_select" value="select HOSTNAME,GMI_LOCATION,GMI_MGMT_REGION,GMI_SOURCE, SC_LOGICAL_NAME, gmi_initiating_process,GMI_INFRASTRUCTURE as INF,gmi_capability as CAP,gmi_system_group as LSG,gmi_status,GMI_ENVIRONMENT,last_updated, gmi_client_name, gmi_dev_log_map from GMI_REF where HOSTNAME=" />
  <add key="FEED_BLOCKED_string" value="ACTIVE" />
  <add key="ACTION_BLOCK_string" value="ADD" />
  <add key="ACTION_UNBLOCK_string" value="REMOVE" />
  <add key="PLSQL_GMI_TRANS" value="PRC_TRANS_BLOCK" />
  <add key="PLSQL_RETRANSFORM" value="pkg_retransform.retransform" />
  <add key="PLSQLARCHIVE_GMI_REF" value="PRC_ARCHIVE_DEVICE"/>
  <add key="retransformSleep" value="5" />
  <add key="IMGURLFiltersShow" value="~/Images/FiltersShow.bmp" />
  <add key="IMGURLFiltersHide" value="~/Images/FiltersHide.bmp" />
   
   <!--tecadapter postemsg params-->
  <add key="postemsg_cfg" value ="etc/tecad_GTM.conf"/>
  <add key="postemsg_exe" value ="bin/postemsg.exe"/>
  <add key="postemsg_severity" value ="WARNING"/>
  <add key="postemsg_EventGroup" value ="GMITransformationTest"/>
  <add key="postemsg_EventClass" value ="GenericEvent"/>
   
     <!-- Sev colors-->
  <add key="FATAL"    value ="#63B8FF"/>
  <add key="CRITICAL" value ="#FF0000"/>
  <add key="MAJOR"    value ="#FFB329"/>
  <add key="MINOR"    value ="#FFFF00"/>
  <add key="WARNING"  value ="#63B8FF"/>
  <add key="CLEAR"    value ="#00CD00"/>

  <!-- Hidden GTM Admin details, Users\Feed IDs for deleting GMI_REF records-->
  <add key="GTMAdmins" value="8013621, 1234567,34344"/>
  <add key="TOM" value ="1"/>
  <add key="CSV" value ="3"/>
  <add key="SM"  value ="4"/>


     <add key="GMIDB_user" value="gmi" />
  <add key="GMIDB_pass" value="gmi" />
  <add key="Autorefresh" value="30000" />
   
   <!--Localised variables-->
   
   <!-- PROPERTIES Files
   <add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=%(gmidbserver.hostname)%)(PORT=1521))(CONNECT_DATA=(SID=%(gmidbserver.servicename)%)))"/>
   <add key="iis_ActivityLogDir" value="C:/TEMP/Logs" />
   <add key="sso_key" value="G739nCe0a2I4Cr6H" />
   <add key="sso_url" value="https://safe.thomson.com/login/sso/SSOService?app=gmidb_transformation_dev" />
   -->
   
   <!--DEV   
   /*add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=GMIB-GMITPMC01)(PORT=1521))(CONNECT_DATA=(SID=ITPMDEV)))"/  */
   /*add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.42.71.241)(PORT=1521)(Pooling=False))(CONNECT_DATA=(SID=ITPMDEV)))"/   */

   <add key="postemsg_home" value ="c:/tecwin/"/>
   <add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DTCP-GMIGDBC01.GMI.DTC.REUINT.COM)(PORT=1521))(CONNECT_DATA=(SID=GMIDPROD)))"/>
   <add key="iis_ActivityLogDir" value="C:/TEMP/Logs" />
   <add key="sso_key" value="G739nCe0a2I4Cr6H" />
   <add key="sso_url" value="https://safe.thomson.com/login/sso/SSOService?app=gmidb_transformation_dev" />
   
   -->

   <!--PROD DTC     -->

  <add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DTCP-GMIGDBC01.GMI.DTC.REUINT.COM)(PORT=1521))(CONNECT_DATA=(SID=GMIDPROD)))"/>
   <add key="iis_ActivityLogDir" value="D:/WWW/GTM/Logs" />
   <add key="sso_key" value="K210JVf45xa3wO0b"/>
   <add key="sso_url" value="https://safe.thomson.com/login/sso/SSOService?app=gmidb_transformation_dtcp"/>
   <add key="postemsg_home" value ="d:/tecwin/"/>
    
   <!--PPE DTC
   <add key="GMIDB_Conn"   value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DTCS-GMIGDBC01)(PORT=1521))(CONNECT_DATA=(SID=GMIDRED)))"/>
   <add key="iis_ActivityLogDir" value="D:/WWW/GTM/Logs" />
   <add key="sso_key" value="5K910lBxe284Bfr4"/>
   <add key="sso_url" value="https://safe.thomson.com/login/sso/SSOService?app=gmidb_transformation_dtcs"/>
   -->

 </appSettings>
	<system.web>
    <customErrors mode="Off"/>
  <compilation debug="true" targetFramework="4.0">
	</compilation>
	</system.web>
</configuration>
